html { overflow-x:auto; overflow-y:scroll; }

.content {
  text-align: justify;
  text-justify: auto;
}

.blog-post .title h4 {
  text-align: center;
  margin-bottom: 1rem;
}

.blog-post .date {
  text-align: center;
  top: 10px;
  margin-bottom: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.blog-post img {
  display:block;
  margin:auto
}

.container {
  max-width: 750px;
}

.section {
  text-align: center;
}

.nav .title {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 150%;
}

.contact {
  margin-bottom: 3.5rem;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.nav {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    padding: 0px 7px 0px 7px;
}

.flash {
    margin-bottom: 1.5rem;
}

a {
  color: #49A59A;
}

a:hover {
  color: #F3036E;
}
