<div class="row">
    <div class="u-full-width" style="margin-top: 5%;">
      <h1 class="nav title">TIM<br>THOMPSON</h1>
      <h5 class="subtitle">DEVELOPER</h5>
      <ul class="nav">
        <li class="nav"><a href="{{ site.url }}" class="nav"><u>Blog</u></a></li>
        <li class="nav"><a href="{{ site.baseurl }}/about" class="nav"><u>About</u></a></li>
        <li class="nav"><a href="{{ site.baseurl }}/contact" class="nav"><u>Contact</u></a></li>
      </ul>
      <hr></hr>
    </div>
</div>